.App {
  max-width: 550px;
  padding: 20px;
  margin-bottom: 500px;
}

footer {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  position: relative;
  left: 320px;
  top: -20px;
  color: black;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 800px) {
  footer {
    position: relative;
    left: 65px;
    top: -20px;
    font-size: 12px;
  }
}
