.Weather {
  margin: 40px auto;
}

.Weather h1 {
  color: #f5efe8;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  min-width: 210px;
  padding: 3px;
  background-color: #a696ff;
  border-radius: 10px;
  box-shadow: 0.3rem 0.3rem #ffde74;
  width: fit-content;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto";
}

.Weather canvas {
  margin-right: 15px;
  display: inline-block;
  margin-top: 5px;
}

.WeatherInfo-wrapper {
  background-color: #a696ff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 5px;
  padding: 5px;
}

.Weather .temperature {
  font-weight: bold;
  color: #f5efe8;
  font-family: "Poppins", sans-serif;
  font-size: 75px;
  line-height: 64px;
  font-weight: 400px;
  position: relative;
  top: -58px;
  left: 110px;
}

.Weather .unit {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  top: -100px;
  left: 110px;
  margin-left: 5px;
  color: #f5efe8;
}

.WeatherInfo-wrapper .Weather-first-icon {
  position: relative;
  left: 50px;
}

.WeatherInfo-wrapper .Weather-id {
  margin-bottom: 20px;
  position: relative;
  left: 50px;
  top: -5px;
  color: #f5efe8;
}

.Weather .btn-light {
  background-color: #a696ff;
  color: #f5efe8;
}

.Weather .Formatted-date {
  font-size: 13px;
  position: relative;
  left: 3px;
}
@media (max-width: 800px) {
  .Weather h1 {
    font-size: 40px;
  }
  .Weather .temperature {
    font-size: 60px;

    position: relative;
    top: -55px;
    left: 70px;
  }

  .Weather .unit {
    font-size: 13px;
    position: relative;
    top: -90px;
    left: 65px;
    margin-left: 5px;
  }
  .WeatherInfo-wrapper .Weather-first-icon {
    position: relative;
    left: 5px;
  }
  .WeatherInfo-wrapper .Weather-id {
    position: relative;
    left: 28px;
    top: 5px;
  }

  .Weather li {
    font-size: 15px;
  }
}
